<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('./template_ejs/head.ejs'); %>
    <title>Equipe <%= id %></title>
  </head>
  <body>
    <header><%- include('./template_ejs/header.ejs'); %></header>

    <% if (id == 1) { %>
    <div class="bg-white">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8"
      >
        <div>
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Equipe <%= id %>
          </h2>
          <p class="mt-4 text-gray-500">Scuderia Ferrari</p>

          <dl
            class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
          >
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Pilotes</dt>
              <dd class="mt-2 text-sm text-gray-500">
                Charles Leclerc / Carlos Sainz
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Team Manager</dt>
              <dd class="mt-2 text-sm text-gray-500">Frédéric Vasseur</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Dimensions</dt>
              <dd class="mt-2 text-sm text-gray-500">
                5.5&quot; x 2.0&quot; x 0.97&quot;
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Moteur</dt>
              <dd class="mt-2 text-sm text-gray-500">Ferrari</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Sponsors</dt>
              <dd class="mt-2 text-sm text-gray-500">
                Shell, Santander, Ray-Ban, Puma, Pirelli, etc.
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Siège social</dt>
              <dd class="mt-2 text-sm text-gray-500">Maranello, Italie</dd>
            </div>
          </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
          <img
            src="/assets/frederic-vasseur.jpg"
            alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/leclerc-sainz.jpeg"
            alt="Top down view of walnut card tray with embedded magnets and card groove."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/ferrari-sf-23.jpg"
            alt="Side of walnut card tray with card groove and recessed card area."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/Ferrari.jpg"
            alt="Walnut card tray filled with cards and card angled in dedicated groove."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
        </div>
      </div>
    </div>
    <% } else if (id == 2) { %>
    <div class="bg-white">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8"
      >
        <div>
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Equipe <%= id %>
          </h2>
          <p class="mt-4 text-gray-500">Mercedes</p>

          <dl
            class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
          >
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Pilotes</dt>
              <dd class="mt-2 text-sm text-gray-500">
                Lewis Hamilton / George Russell
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Team Manager</dt>
              <dd class="mt-2 text-sm text-gray-500">Toto Wolff</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Dimensions</dt>
              <dd class="mt-2 text-sm text-gray-500">
                5.5&quot; x 2.0&quot; x 0.97&quot;
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Moteur</dt>
              <dd class="mt-2 text-sm text-gray-500">Mercedes</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Sponsors</dt>
              <dd class="mt-2 text-sm text-gray-500">
                UBS, AMG, Epson, Crowdstrike, HP, etc.
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Siège social</dt>
              <dd class="mt-2 text-sm text-gray-500">Brackley, Royaume-Uni</dd>
            </div>
          </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
          <img
            src="/assets/toto-wolff.png"
            alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/george-russell-lewis-hamilton.jpg"
            alt="Top down view of walnut card tray with embedded magnets and card groove."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/F1-Mercedes-W14.jpg"
            alt="Side of walnut card tray with card groove and recessed card area."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/Mercedes.png"
            alt="Walnut card tray filled with cards and card angled in dedicated groove."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
        </div>
      </div>
    </div>
    <% } else if (id == 3) { %>
    <div class="bg-white">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8"
      >
        <div>
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Equipe <%= id %>
          </h2>
          <p class="mt-4 text-gray-500">Redbull</p>

          <dl
            class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
          >
            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Pilotes</dt>
              <dd class="mt-2 text-sm text-gray-500">
                Max Verstappen / Sergio Pérez
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Team Manager</dt>
              <dd class="mt-2 text-sm text-gray-500">Christian Horner</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Dimensions</dt>
              <dd class="mt-2 text-sm text-gray-500">
                5.5&quot; x 2.0&quot; x 0.97&quot;
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Moteur</dt>
              <dd class="mt-2 text-sm text-gray-500">Honda RBPT</dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Sponsors</dt>
              <dd class="mt-2 text-sm text-gray-500">
                Oracle, Honda, Mobil 1, Esso, Siemens, etc.
              </dd>
            </div>

            <div class="border-t border-gray-200 pt-4">
              <dt class="font-medium text-gray-900">Siège social</dt>
              <dd class="mt-2 text-sm text-gray-500">
                Milton Keynes, Royaume-Uni
              </dd>
            </div>
          </dl>
        </div>
        <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
          <img
            src="/assets/Christian-horner.jpg"
            alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/max-verstappen-sergio-perez.jpg"
            alt="Top down view of walnut card tray with embedded magnets and card groove."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/RBR19.jpg"
            alt="Side of walnut card tray with card groove and recessed card area."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
          <img
            src="/assets/RedBull.jpg"
            alt="Walnut card tray filled with cards and card angled in dedicated groove."
            class="rounded-lg bg-gray-100 object-cover w-full h-full"
          />
        </div>
      </div>
    </div>
    <% } %>

  </body>
</html>
